# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
dist

#env
.env
sendgrid.env

# config


#service
src/migration/


#Typeorm Config
sampleData.json
